
/* GENERAL */

html, body {
	height: 95%;
	zoom : 110%;
}

#main{
	margin-top: 50px;
}

span#titre {
	color: white ;
}

.navbar-collapse > .navbar-nav > li > .main-menu-item {
	/* Très spécifique pour être prioritaire par rapport à la spécificité bootstrap */
	font-size: 17px;
	color: #cbcbcb;
}

.main-menu-item:hover {
	color: white;
}

.navbar-brand {
	font-size: 22px;
}

.navbar-brand:hover {
	cursor: default ;
}

.justify {
	text-align: justify;
	font-size: 15px;
}

footer {
	text-align: center;
}

hr {
	/* Surchage pour changer la couleur */
	border-top: 1px solid #ccc;
}

th {
	text-align:center;
}

.container {
	width : 95%;
}

p, span {
	line-height : 1.5;
}

@media (max-width: 210px) {
	/* Version écran de nain */
	html, body {
		zoom : 90%!important;
	}
}

@media (max-width: 767px) {
	/* Version mobile */
	html, body {
		zoom : 100%;
	}
	.container {
		max-width : 767px;
	}
}

@media (min-width: 992px) {
	/* Version tablette */
	.container {
		max-width : 992px;
	}
}

@media (min-width: 1200px) {
	/* Version ordinateur */
	.container {
		max-width : 1111px;
	}
}

/* ONGLET 2 */

#nbSommets {
	text-align: right;
	width: 7%;
}

.elemCache {
	display:none;
}

#askNomSommets {
	margin-top:10px;
}

#matriceAff, #solAff{
	margin: 0 auto;
	width: 100%;
}

.tdTable {
	text-align: center;
	min-width: 35px;
}

#btnValiderMatrice {
	margin-top: 10px;
}

#SelectAlgo > p,#SelectDepart > p, #SelectImport > p{
	text-align: center;
}

#SelectAlgo, #SelectDepart, #AffGraph, #AffSol{
	display: none;
}
